* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}

body {
    background-color: #Ffcc00;
}

p {
    font-size: 3vw;
    text-align: justify;
    padding: 40px 60px;
    color: blue;
    font-weight: 700;
    margin: 0;
    width: 95%;
}


nav {
    width: 100%;
    height: 4vw;
    background-image: linear-gradient(to bottom, magenta, pink, white);
    padding: 5px;
    margin: 3vw 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    /* color: white; */
    /* font-size: 1.5vw; */
    padding: 5px;
    font-weight: 800;
}

.project {
    display: none;
}

a:hover {
    color: green;

}

nav a:hover .project {
    background-color: brown;
    display: block;
    position: absolute;
    color: white;
}


header {
    background-color: white;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-size: 5vw;
    margin: 5vw 8vw;
}

header p {
    align-self: center;
    justify-self: center;
    width: 10%;
    margin: 20px;
    font-weight: 800;
    margin-left: 30px;
    font-size: 3vw;
    animation: first 10s infinite ease;
    text-shadow: 0.3vw 0.3vw white;
}

@keyframes first {
    0% {
        color: yellow;
    }

    25% {
        color: yellowgreen;
    }

    50% {
        color: brown;
    }

    100% {
        color: mediumblue;
    }
}

@keyframes forth {
    0% {
        left: 0;
    }

    50% {
        left: 10%;
    }

    100% {
        left: 20%;
    }
}

header img {
    width: 50%;
    height: 80vh;
}

.side1 {
    width: 35%;
    height: 600px;
    position: absolute;
    margin: 10px 0;
    animation: forth 2s infinite ease-in-out;
}

.pro {
    text-align: center;
    font-weight: 700;
    height: fit-content;
    margin-bottom: 3vw;
}

@keyframes third {
    0% {
        position: relative;
        top: 0%;
        right: 2%;
        background-color: yellow;
    }

    50% {
        position: relative;
        top: 0%;
        right: 40%;
        background-color: rgb(58, 50, 205);
    }

    100% {
        position: relative;
        top: 0%;
        right: 80%;
        background-color: purple;
    }
}

.proj {
    width: 90%;
    background-image: linear-gradient(to bottom, magenta, pink, white);
    padding: 5px;
    height: 25vw;
    padding-left: 60%;
    padding-top: 2%;
}
h1{
    font-size: 3vw;
}
.proj li {
    list-style-type: none;
    background-image: radial-gradient(blue, rgb(179, 202, 250));
    text-align: center;
    margin: 5px 0;
    width: 80%;
    height: 28%;
    padding-top: 2.5vw;
    font-size: 2vw;
    font-weight: 800;
    color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.proj li:hover {
    background-color: rgb(86, 219, 56);
    color: white;
}

footer {
    width: 100%;
    margin-top: 20px;
    background-color: brown;
    /* width: 95%; */
    /* height: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sec {
    width: 16vw;
    height: 20vw;
    background-color: beige;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2vw;
    font-weight: 800;

}

.sec img {
    width: 100%;
    height: 100%;
}

.sec a {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.main {
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 150px;
}

.main img {
    border: 10px solid blue ;
    margin: 20px;
    width: 400px;
    height: 550px;
}

.main-poto {
    width: auto;
    /* height: 800px; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    padding-left: 30px;
}

.img {
    width: 250px;
    height: 200px;
    font-size: 1.5vw;
    font-weight: 700;
    color: blue;
    text-shadow: 0.1vw 0.1vw 0.1vw magenta;
}

.img img {
    width: 250px;
    height: 150px;
    border: 0.1vw solid gray;
}

.img img:hover {
    width: 255px;
    height: 155px;
    border-bottom: 0.5vw solid blue;
}

.main-childern {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vw;
    margin: 5vw 0;
}

@media screen and (width <700px) {
    .main-childern {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width <500px) {
    .main-childern {
        grid-template-columns: 1fr;
    }
}


.child-img {
    height: 400px;
    width: 100%;
}

.land {
    width: 32vw;
    height: 24vw;
    margin: 0 3vw;
    border: 0.3vw solid blue;
}

article {
    width: 55%;
    height: 35vw;
    background-image: url('./Image/KITES.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2vw 20vw;
    border-bottom: 1vw solid blue;
}

article:hover {
    transform: rotate(-10deg);
}